* {
    padding: 0px;
    margin: 0px;
}


:root {
    --background500: #F5F5ED;
    --background600: #D2D2C8;
    --primary900: #12180A;
    --secundary700: #3B715A;
    --tertiary400: #E7F1E9;
    --destaque: #E4971A;
    --destaqueVerde: #0F8A13;
    text-decoration: none;
}

header {
    display: none;
}

.home {
    background-image: url(assets/images/homepageimage.png);
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#teste{
    width: 70%;
    background-color: #0F8A13;
}


