

/* Css PARA MYDIA QUIRI - Tamanhos de Telas Diferentes */


@media(max-width:768px) {
    .hamburguer {
        display: block;
        z-index: 1;
    }

    .itemBarraNavegacao {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--secundary700);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;

    }
  
  .barraNavegacao.active .itemBarraNavegacao {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
  }

  .rodape  {
    
  }

  .imagem-midia > p, h1, li {
    display: none;

    }


}

@media screen and (min-width: 768px) {
    
    #secao-form {
        display: flex;
        justify-content: center;
    }
    
    form {
        width: 400px;
        height: 400;
        margin: 0px;
    }

    .imagem-midia {
        background: url(../assets/images/Design\ sem\ nome\ \(33\).png) ;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 400px;
        margin: 0px;
        box-shadow: 2px 0px 10px 1px rgba(0, 0, 0, 0.24) ;
    }

    .imagem-midia h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: #6FCD0B;
        padding: 50px 40px 10px 40px;       
    }

    .imagem-midia p {
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 40px 10px 40px;
        color: #f8f8f8;   
        font-weight: bolder;
        font-size: 1.3em; 
    }

    .imagem-midia ul li {
        list-style: none;
        color: white;
        font-size: 1em;
        padding-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .imagem-midia ul {
        padding-left: 40px;
        padding-top:20px ;
    }   

    .imagem-midia ul li > img {
        padding-right: 10px;
    }
    
    /* Formulario */

    /* Rodap */
    .contato-rodape {
        border-left: 1px solid rgb(179, 179, 179);
        padding: 0px 40px;
        width: 300px;
    }

    #displai-flex {
        display: flex;
        justify-content: space-around;
        gap: 0px;

    }
}