@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');

/* Css PARA MYDIA QUIRI - Tamanhos de Telas Diferentes */



:root {
    --background500: #F5F5ED;
    --background600: #D2D2C8;
    --primary900: #12180A;
    --secundary700: #3B715A;
    --tertiary400: #E7F1E9;
    --destaque: #E4971A;
    --destaqueVerde: #0F8A13;

}

@media(max-width:768px) {
    .hamburguer {
        display: block;
        z-index: 1;
    }

    .itemBarraNavegacao {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--secundary700);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;

    }
  
  .barraNavegacao.active .itemBarraNavegacao {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
  }
  .homeInfo {
    text-shadow: black;
    height: 80%;
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue";
    color: var(--background500);
    justify-content: space-around;
    align-items: center;
    padding: 32px;

}

.homeInfo h1 {
    text-align: center;
    font-size: 100px;
    text-shadow: 0px 0px 5px var(--background600);

}

.homeInfo h3 {
    font-size: larger;
    text-align: center;
}

.homeInfo a {
    text-decoration: none;
    background-color: var(--secundary700);
    color: var(--background500);
    padding: 16px;
    border-radius: 8px;
    padding-inline: 64px;
}
  .sobreInfo {
    top: 1px;
  }


  .imagem-midia   {
    display: none ;
}

    .contato-rodape p  {
        text-align: left;
    }

}

@media screen and (min-width: 768px) {
    #sobre {
        display: flex;
    }

    #sobre  img {
    width: 50%;
    }
    
    
    .sobreInfo {
        margin: auto;
        text-align: left;
        margin-left:50px ;
        padding: 50px  100px 50px 20px;
        width: 600px;
        height: 250%;
    }

    /* Teste nossa Demonstração */

    .demonstracao-container {
        display: flex;
    }

    #secao-form {
        display: flex;
        justify-content: center;
    }
    
    form {
        width: 400px;
        height: 400;
        margin: 0px;
    }



    .imagem-midia {
        background: url(../assets/images/Design\ sem\ nome\ \(33\).png) ;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 400px;
        margin: 0px;
        text-align: left ;
        box-shadow: 2px 0px 10px 1px rgba(0, 0, 0, 0.24) ;
    }

    .imagem-midia > p {
        text-align: left;
    }

    .imagem-midia h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: #6FCD0B;
        padding: 50px 40px 10px 40px;       
    }

    .imagem-midia p {
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 40px 10px 40px;
        color: #f8f8f8;   
        font-weight: bolder;
        font-size: 1.3em; 
    }

    .imagem-midia ul li {
        list-style: none;
        color: white;
        font-size: 1em;
        padding-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .imagem-midia ul {
        padding-left: 40px;
        padding-top:20px ;
    }   

    .imagem-midia ul li > img {
        padding-right: 10px;
    }
    
    /* Formulario */

    /* Rodap */
    .contato-rodape {
        border-left: 1px solid rgb(179, 179, 179);
        padding: 0px 40px;
        width: 300px;
    }

    .contato-rodape p {
        text-align: left;
    }

    #displai-flex {
        display: flex;
        justify-content: space-around;
        gap: 0px;

    }
}